

#features{
  padding: 12rem;
  background-color:#fff;
  font-family: "Montserrat";

}
h1{
  font-family: "Montserrat-Bolder";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;

}

h2{
  font-family: "Montserrat-Bolder"
  font-size: 3rem;
  font-weight:900;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat-Bolder"
  font-size: 3rem;
  font-weight:900;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;
  padding-bottom:10%;
}

body{
  font-family: "Montserrat";
}

/* Navigation bar */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 16px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "montserrat-light";
}

.download-button{
  margin: 5% 3% 5% 0;
}

/* title-image */
#title{
  background-color: #ff4c68;
  color: #fff;

}

.title-image{
  width: 20%;
  transform: rotate(25deg);
  position:absolute;
  top: 200px;
  z-index:0;
}

/* Features */

#features{
  backgrounnd-color: #fff;
  position:relative;
}


.features{
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.fa-circle-check{
  color: #ef8172;
}

.fa-bullseye{
  color: #ef8172;
}

.fa-heart{
  color: #ef8172;
}

.features-p{
  color:#8f8f8f;
}

.features-col{
  margin-bottom: 2rem;
}

.icon:hover{
  color: #ff4c68;
}


/* Testomonial section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item{
  padding: 5% 12%;

}

.testimonials-image{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image{
  width: 15%;
  padding: 20px 20px 50px;
}

/* Pricing */

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}


@media (max-width:1028px){
  #title{
    text-align: center;

  }

  .title-image{
    position: static;
    transform: rotate(0);
    width: 65%;

  }
}

/* Call to action */

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 5% 15%;

}

.cta-header{
  font-size: 3.5rem;
}

/* Footer */

#footer{
  font-style: Montserrat-light;
  text-align: center;
  line-height: 1.5;
  padding: 5% 15%;

}

.icon-footer{
  margin:auto 10px;
}
